@using VidPlace.Models
@{
    ViewBag.Title = "getCustomer";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>@(((Customer)ViewData["customer"]).Name)</h2>

<!--<h2>--><!--Here use the at sign--><!--(((Customer)ViewBag.customer).Name)</h2>-->