@{
    ViewBag.Title = "Home Page";
}

<section>
	
	<img src="~/Content/Images/Smartphone.png" alt="Smart phones" class="imgIntro"/>
	<div class="intro">

		<h1>Welcome to PHONO!</h1>

		<p>Please choose from the menu on the top left</p>
	</div>
</section>